In [ ]:
#DataFrame 
#Author:-Tithi Patel

In [2]:
#Dataframe using List
import pandas as p

l=["Hello","World","Hii","Python"]
print(l)
df=p.DataFrame(l,columns=["strings"])
print(df)

['Hello', 'World', 'Hii', 'Python']
  strings
0   Hello
1   World
2     Hii
3  Python

In [4]:
#list inside list and dataframe
d=[["XYZ",20],["WXY",21],["VWX",23]]
print(d)
daf=p.DataFrame(d,columns=["name","age"],dtype=float)
print(daf)

[['XYZ', 20], ['WXY', 21], ['VWX', 23]]
  name   age
0  XYZ  20.0
1  WXY  21.0
2  VWX  23.0

In [13]:
#Dataframe using Dictionary
emp={"Name":['ABC','BCD','CDE'],"age":[22,23,24],"address":['Gujarat','Goa','Sikkim']}
print(emp)
print("----------------------------------------------------------")
empfr=p.DataFrame(emp)
print(empfr)
print("----------------------------------------------------------")
#indexing dataframe
empfr=p.DataFrame(emp,index=['rank1','rank2','rank3'])
print(empfr)
print("----------------------------------------------------------")
# column are named differently
empfr2=p.DataFrame(emp,index=['ranking1','ranking2','ranking3'],columns=['Name','A','AD'])
print(empfr2)
print("----------------------------------------------------------")

{'Name': ['ABC', 'BCD', 'CDE'], 'age': [22, 23, 24], 'address': ['Gujarat', 'Goa', 'Sikkim']}
----------------------------------------------------------
  Name  age  address
0  ABC   22  Gujarat
1  BCD   23      Goa
2  CDE   24   Sikkim
----------------------------------------------------------
      Name  age  address
rank1  ABC   22  Gujarat
rank2  BCD   23      Goa
rank3  CDE   24   Sikkim
----------------------------------------------------------
         Name    A   AD
ranking1  ABC  NaN  NaN
ranking2  BCD  NaN  NaN
ranking3  CDE  NaN  NaN
----------------------------------------------------------

In [38]:
# dataframe using dictionary series
data={'one':p.Series([1,2,3],index=['a','b','c']),'two':p.Series([1,2,3,4],index=['a','b','c','d'])}
dfr=p.DataFrame(data)
print(p.DataFrame(data))
print("----------------------------------------------------------")
#coloum selection
print((p.DataFrame(data))['one'])
print("----------------------------------------------------------")
# adding a new column
dfr['three']=p.Series([10,20,30],index=['a','b','c'])
print(dfr)
print("----------------------------------------------------------")
#deleting column
del dfr['one']
print(dfr)
print("----------------------------------------------------------")
# row selection
print(dfr.loc['b'])
print("----------------------------------------------------------")
# adding a new row
data2=p.DataFrame([[1,2],[3,4]],columns=['two','three'])
dfr=dfr.append(data2)
print(dfr)
print("----------------------------------------------------------")
# deletion of rows
dfr=dfr.drop(0)
print(dfr)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
----------------------------------------------------------
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
----------------------------------------------------------
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
----------------------------------------------------------
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
----------------------------------------------------------
two       2.0
three    20.0
Name: b, dtype: float64
----------------------------------------------------------
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
0    1    2.0
1    3    4.0
----------------------------------------------------------
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
1    3    4.0