In [ ]:
#Function on dictonary 
#Author:-Tithi Patel

In [14]:
#dictionary 
a={"name":"Tithi","age":20,"branch":"CSE",("h","w"):(119,60.5)}
print(a)

{'name': 'Tithi', 'age': 20, 'branch': 'CSE', ('h', 'w'): (119, 60.5)}

In [4]:
#using loop for creating dictionary
{x:x**3 for x in (2,4,6,8)}

{2: 8, 4: 64, 6: 216, 8: 512}

In [5]:
dict(king=444,queen=555,jack=333)

{'jack': 333, 'king': 444, 'queen': 555}

In [9]:
#printing only keys
print(a.keys())
#printing only values
print(a.values())
#printing only whole key value term
print(a.items())

dict_keys(['name', 'age', 'branch', ('h', 'w')])
dict_values(['Tithi', 20, 'CSE', (119, 60.5)])
dict_items([('name', 'Tithi'), ('age', 20), ('branch', 'CSE'), (('h', 'w'), (119, 60.5))])

In [11]:
#accessing an element by its key
print(a.get("age"))
#accessing an elemnet by the key which is not present
print(a.get("ag"))

20
None

In [15]:
#removing an element
print(a.popitem())
print(a)

(('h', 'w'), (119, 60.5))
{'name': 'Tithi', 'age': 20, 'branch': 'CSE'}

In [16]:
#poping an item using key
print(a.pop("branch"))
print(a)

CSE
{'name': 'Tithi', 'age': 20}

In [19]:
#inserting an item 
b={("h","w"):(119,60.5)}
a.update(b)
print(a)

{'name': 'Tithi', 'age': 20, ('h', 'w'): (119, 60.5)}

In [20]:
#Updating a value of a dictionary  
a.update({"name":"Tithi P"})
print(a)

{'name': 'Tithi P', 'age': 20, ('h', 'w'): (119, 60.5)}

In [24]:
#accessing a tuple element from dictionary
print(a[('h','w')])
print(a[('h','w')][0])

(119, 60.5)
119