In [ ]:
#Function on list 
#Author:-Tithi Patel

In [27]:
#Printing simple list
x=["Tithi",20,"CSE","Python"]
print(x)
#negative indexing
print(x[-1])

['Tithi', 20, 'CSE', 'Python']
Python

In [3]:
#Printing the length of list
print(len(x))

4

In [4]:
#inserting element with insert keyword
x.insert(1,"Patel")
print(x)

['Tithi', 'Patel', 20, 'CSE', 'Python']

In [5]:
#remoing an element
x.remove("CSE")
print(x)

['Tithi', 'Patel', 20, 'Python']

In [6]:
#remoing an element through index
x.pop(2)
print(x)

['Tithi', 'Patel', 'Python']

In [8]:
#adding element at end
x.append(20)
print(x)

['Tithi', 'Patel', 'Python', 20]

In [9]:
#implementing sort 
x.sort()
print(x)
#not supported as the the list contains 2 types of elements that is string and int

TypeError: ignored

In [11]:
#implementing sort 
y=[10,33,76,54,98,9,64,66]
y.sort()
print(y)

[9, 10, 33, 54, 64, 66, 76, 98]

In [15]:
#reversing the elements in list 
x.reverse()
print(x)
y.reverse()
print(y)

['Patel', 'Python', 'Tithi', 20]
[98, 76, 66, 64, 54, 33, 10, 9]

In [21]:
#display the number of the element present in the list 
x.append(20)
print(x)
print(x.count(20))

['Patel', 'Python', 'Tithi', 20, 20, 20, 20, 20, 20]
6

In [22]:
#clearing the element from the list and making that list empty 
x.clear()
print(x)

[]

In [23]:
#deleting the list x 
del(x)
print(x)
#as deleted there won't be empty lis also

NameError: ignored

In [24]:
#list inside list 
#join to list 
x=[34,["XYZ",56],45,66]
print(x)
print(y)
z=x+y#x.extend(y)
print(z)

[34, ['XYZ', 56], 45, 66]
[98, 76, 66, 64, 54, 33, 10, 9]
[34, ['XYZ', 56], 45, 66, 98, 76, 66, 64, 54, 33, 10, 9]

In [26]:
# printing list using loop
for i in range(len(z)):
  print(z[i])

34
['XYZ', 56]
45
66
98
76
66
64
54
33
10
9