In [ ]:
import numpy as np

import pandas as pd
 
import matplotlib.pyplot as plt
 
import statsmodels.api as sm
 
import seaborn
 
seaborn.set()

In [ ]:
ls

bike.csv  sample_data/

In [ ]:
df = pd.read_csv('bike.csv')
df.head()

   Unnamed: 0                 Date  ... Queensboro Bridge  Total
0           0  2016-04-01 00:00:00  ...            2552.0  11497
1           1  2016-04-02 00:00:00  ...            1884.0   6922
2           2  2016-04-03 00:00:00  ...            1306.0   4759
3           3  2016-04-04 00:00:00  ...            1307.0   4335
4           4  2016-04-05 00:00:00  ...            2357.0   9471

[5 rows x 11 columns]

In [ ]:
x1= df[['Low Temp (째F)']]

y=df[['Total']]

In [ ]:
x = sm.add_constant(x1)

# train_df['class'] = train_df['class'].map({'NAG': 0, 'CAG': 1,'OAG':2}) 
results = sm.OLS(y,x).fit()

In [ ]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       0.242
Model:                            OLS   Adj. R-squared:                  0.239
Method:                 Least Squares   F-statistic:                     66.47
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           3.30e-14
Time:                        07:29:37   Log-Likelihood:                -2079.6
No. Observations:                 210   AIC:                             4163.
Df Residuals:                     208   BIC:                             4170.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1176.4295   1672.364      0.703      0.483   -2120.526    4473.385
Low Temp (째F)   287.8067     35.300      8.153      0.000     218.215     357.399
==============================================================================
Omnibus:                       64.106   Durbin-Watson:                   1.145
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               15.123
Skew:                          -0.356   Prob(JB):                     0.000520
Kurtosis:                       1.895   Cond. No.                         236.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
x1= df[['Low Temp (째F)','High Temp (째F)']] 

y=df[['Total']]

In [ ]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()

In [ ]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       0.598
Model:                            OLS   Adj. R-squared:                  0.594
Method:                 Least Squares   F-statistic:                     153.7
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.21e-41
Time:                        07:29:57   Log-Likelihood:                -2013.1
No. Observations:                 210   AIC:                             4032.
Df Residuals:                     207   BIC:                             4042.
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const          -7033.9075   1364.191     -5.156      0.000   -9723.397   -4344.418
Low Temp (째F)   -218.9591     45.493     -4.813      0.000    -308.647    -129.271
High Temp (째F)   523.7872     38.738     13.521      0.000     447.415     600.159
==============================================================================
Omnibus:                        9.853   Durbin-Watson:                   1.508
Prob(Omnibus):                  0.007   Jarque-Bera (JB):                4.487
Skew:                           0.020   Prob(JB):                        0.106
Kurtosis:                       2.285   Cond. No.                         432.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""